@model LibraryProjectWebSite.Models.LibraryViewModel
<strong>
    <h4 style="padding-top:20px">Libraries That Close To You</h4>
    <table class="table table-hover table-striped">
        <tr>
            <th>Library Name</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Address</th>
        </tr>
        @foreach (var library in Model.Libraries)
        {
            <tr>
                <td>@library.Name</td>
                <td>@library.Distance meters</td>
                <td>
                    @{
                        TimeSpan t = TimeSpan.FromSeconds(library.Duration);

                        string duration = string.Format("{0:D1} hours {1:D2} minutes {2:D2} seconds",
                                        t.Hours,
                                        t.Minutes,
                                        t.Seconds,
                                        t.Milliseconds);
                    } @duration
                </td>
                <td>@library.Address</td>
            </tr>
        }
    </table>

</strong>