@model LibraryProjectWebSite.Models.LibraryViewModel
@if (ViewBag.Role == "user" || ViewBag.isLoggedIn == false)
{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
else if (ViewBag.Role == "officer")
{
    Layout = "~/Views/Shared/_LayoutOfficer.cshtml";

}


@if (ViewBag.isBookAdded == true)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("Book is added");
        };
    </script>
}
else if (ViewBag.isBookAdded == false)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("Error");
        };
    </script>
}
<div class="flex d-flex flex-column flex-sm-row align-items-center">

    <div style="margin-left:445px ;    margin-top: -210px;" class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Add Books Via ISBN</h2>

    </div>
    <div style=" margin-left: -310px;padding-top: 95px;">
        <label class="form-label">ISBN10</label>
        @using (Html.BeginForm("AddBook", "Home", FormMethod.Post))
        {
            <div class="form-group mb-24pt">
                <input type="text"
                       name="libraryViewModel.Book.ISBN10"
                       class="form-control form-control-lg"
                       placeholder="ISBN 10"
                       maxlength="10"
                       minlength="10"/>
            </div>
            <label class="form-label">ISBN13</label>
            <div class="form-group mb-24pt">
                <input type="text"
                       name="libraryViewModel.Book.ISBN13"
                       class="form-control form-control-lg"
                       placeholder="ISBN 13"
                       maxlength="13"
                       minlength="13" />
            </div>
            <input style="margin-left:360px;width:21%" class="btn btn-primary" type="submit" value="Add Book">
        }
    </div>

</div>
