@model LibraryProjectWebSite.Models.LibraryViewModel
@if (ViewBag.Role == "user" || ViewBag.isLoggedIn == false)
{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
else if (ViewBag.Role == "officer")
{
    Layout = "~/Views/Shared/_LayoutOfficer.cshtml";

}




<div style="padding-top: 8rem!important;padding-bottom: 8rem!important;" class="pt-32pt pt-sm-64pt pb-32pt">
    <div class="container page__container">

        @using (Html.BeginForm("OfficerLogin", "Home", FormMethod.Post))
        {
            <div style="margin-left:275px;" class="form-group">

                <label class="form-label"
                       for="email">Email:</label>
                @Html.TextBoxFor(m => m.Officer.Email, new { @class = "form-control", @style = "width:58%", required = "required", @placeholder = "Your email address" })

                <label class="form-label"
                       for="password">Password:</label>
                @Html.PasswordFor(m => m.Officer.Password, new { @class = "form-control", @style = "width:58%", required = "required", @placeholder = "Your password" })
                <p>
                    <a href="https://localhost:44361/Home/OfficerResetPassword"
                       style="line-height:2.5;">Forgot your password?</a>
                </p>

            </div>
            <input style="margin-left:360px;width:21%" class="btn btn-primary" type="submit" value="Login">
        }
        <div class="text-center">
            <h3 style="margin-top: 20px">Are You An User?</h3>
            <button class="btn btn-primary"><a style="color: white" href="https://localhost:44361/Home/UserLogin">User Login</a></button>
        </div>
    </div>
</div>
@if (Model.alertMessage != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@Model.alertMessage");
            };
    </script>
}