@model LibraryProjectWebSite.Models.LibraryViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Favourites</h2>

            </div>
        </div>
    </div>
</div>
<div style="padding-top: 3rem!important;" class="page-section bg-white border-top-2">
    <div class="container page__container page__container">
        <div class="page-separator"></div>
        <div class="row">
            @if (Model.Books.Any())
            {
                foreach (var book in Model.Books)
                {
                    <div class="col-sm-6 col-md-4">
                        <div style="min-height:230px" class="card posts-card-popular">
                            <a href="book-details.html">
                                <img style="width: 131px; padding: 5px; margin-top: 18px;" src="https://covers.openlibrary.org/b/isbn/@book.ISBN10-M.jpg"
                                     alt=""
                                     class="card-img">
                            </a>
                            <div class="posts-card-popular__content">
                                <div style="left: 130px;top: 11px" class="posts-card-popular__title card-body">
                                    <h4 style="font-weight: 600; font-size: 20px; margin-top: -10px;" class="card-title m-0"><a style="color: black" href="https://localhost:44361/Home/GetById/@book.Id">@book.Name</a></h4>
                                    <p style=" margin-top: 15px; font-weight: 500; font-size: 14px;">Writer: </p>
                                    @foreach (var author in book.Authors)
                                    {
                                        <h5 style=" margin-top: -15px; font-weight: 500;">@author.Name</h5>
                                    }
                                    <p style=" margin-top: -10px; font-weight: 500; font-size: 14px;">Language: </p>
                                    <h5 style=" margin-top: -15px; font-weight: 500;">@book.Language</h5>
                                    @using (Html.BeginForm("DeleteUserFavouriteBooks", "Home", FormMethod.Post))
                                    {
                                        <input type="hidden" name="bookId" value="@book.Id" />
                              
                                        <button style=" position: absolute; bottom: 10px; right: 5px;" type="submit" class="btn"><i class="fa fa-trash fa-lg"></i></button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }



            }
            else
            {
                <p>You dont have any favourite books</p>
            }



        </div>
    </div>
</div>