@model LibraryProjectWebSite.Models.LibraryViewModel
@{ 
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}}
<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Track Your Profile</h2>

            </div>
        </div>

    </div>
</div>



<div class="container page__container">
    <div style="padding-top: 2rem;" class="page-section">

        <div class="row mb-lg-8pt">
            <div class="col-lg-8">

                <div class="page-separator">
                    <div class="page-separator__text">Overview Last 3 Month</div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="card ">
                            <div class="card-header pb-0 border-0 d-flex">
                                <div class="flex">
                                    <div class="h2 mb-0">8</div>
                                    <p class="card-title">Books</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="text-50 mb-16pt">

                                    <div class="mb-4pt">
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Horror</small>
                                            <small class="lh-24pt">4</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-primary"
                                                 role="progressbar"
                                                 style="width: 50%;"
                                                 aria-valuenow="50"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="mb-4pt">
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Literature</small>
                                            <small class="lh-24pt">2</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-accent"
                                                 role="progressbar"
                                                 style="width: 25%;"
                                                 aria-valuenow="25"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="mb-4pt">
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Poetry</small>
                                            <small class="lh-24pt">1</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-warning"
                                                 role="progressbar"
                                                 style="width: 12.5%;"
                                                 aria-valuenow="12.5"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div>
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Religion</small>
                                            <small class="lh-24pt">1</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-warning"
                                                 role="progressbar"
                                                 style="width: 12.5%;"
                                                 aria-valuenow="12.5"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="card ">
                            <div class="card-header pb-0 border-0 d-flex">
                                <div class="flex">
                                    <div class="h2 mb-0">3</div>
                                    <p class="card-title">Libraries Borrowed</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="text-50 mb-16pt">

                                    <div class="mb-4pt">
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Daisy Library</small>
                                            <small class="lh-24pt">1</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-primary"
                                                 role="progressbar"
                                                 style="width: 7%;"
                                                 aria-valuenow="7"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="mb-4pt">
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Sunshine Library</small>
                                            <small class="lh-24pt">1</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-primary"
                                                 role="progressbar"
                                                 style="width: 7%;"
                                                 aria-valuenow="7"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="mb-4pt">
                                        <p class="d-flex align-items-center mb-0">
                                            <small class="flex lh-24pt">Pera Library</small>
                                            <small class="lh-24pt">1</small>
                                        </p>
                                        <div class="progress"
                                             style="height: 4px;">
                                            <div class="progress-bar bg-primary"
                                                 role="progressbar"
                                                 style="width: 7%;"
                                                 aria-valuenow="7"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">

                <div class="page-separator">
                    <div class="page-separator__text">Self Reminder</div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="flex">
                                <strong class="card-title">Deadline</strong>
                            </div>

                        </div>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center justify-content-center p-24pt">
                        <div class="mb-24pt d-inline-flex flex-column text-center">
                            <i class="material-icons text-50 icon-32pt">access_time</i>
                            <div class="d-flex align-items-center">
                                <h2 class="m-0">08:58:05</h2>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="page-separator">
            <div class="page-separator__text">Calender Check</div>
        </div>

        <div class="card mb-0">

            <div class="table-responsive"
                 data-toggle="lists"
                 data-lists-values='["js-lists-values-name"]'>

                <table class="table table-bordered table-flush mb-0 thead-border-top-0 table-nowrap">
                    <thead>
                        <tr>


                            <th class="border-left-0">
                                <a href="javascript:void(0)"
                                   class="sort"
                                   data-sort="js-lists-values-name">Name</a>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    1 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    2 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    3 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    4 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    5 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    6 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    7 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    8 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    9 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    10 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    11 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    12 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    13 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    14 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    15 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    16 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    17 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    18 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    19 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    20 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    21 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    22 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    23 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    24 February 2022</small>
                                </div>
                            </th>
                            <th>
                                <div class="lh-1 d-flex flex-column text-50 my-4pt">
                                    25 February 2022</small>
                                </div>
                            </th>









                            <th style="width: 24px;"></th>
                        </tr>
                    </thead>
                    <tbody class="list"
                           id="contacts">

                        <tr>

                            <td class="border-left-0">

                                <div class="media flex-nowrap align-items-center"
                                     style="white-space: nowrap;">
                                    <div class="avatar avatar-sm mr-8pt">

                                        <span class="avatar-title rounded-circle bg-white border text-100">HP</span>

                                    </div>
                                    <div class="media-body ml-4pt">

                                        <p class="mb-0"><strong class="js-lists-values-name">Harry Potter</strong></p>

                                    </div>
                                </div>

                            </td>
                            <td style="text-align: center;color: white; background-color: green;">

                                <!--                                                <a class="d-flex flex-column border-1 rounded bg-light px-8pt py-4pt lh-1"-->
                                <!--                                                   href="">-->
                                <!--                                                    <small><strong class="js-lists-values-name text-black-100">Night</strong></small>-->
                                <!--                                                    <small class="text-black-50">20:00 - 08:00</small>-->
                                <!--                                                </a>-->
                                Start Date

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;color: white; background-color: red;">
                                End Date
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>


                            <td class="border-left-0">

                                <div class="media flex-nowrap align-items-center"
                                     style="white-space: nowrap;">
                                    <div class="avatar avatar-sm mr-8pt">

                                        <span class="avatar-title rounded-circle bg-white border text-100">CP</span>

                                    </div>
                                    <div class="media-body ml-4pt">

                                        <p class="mb-0"><strong class="js-lists-values-name">Crime And Punishment</strong></p>

                                    </div>
                                </div>

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;color: white; background-color: green;">
                                Start Date
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;color: white; background-color: red;">
                                End Date
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>




                    </tbody>
                </table>
            </div>

            <!-- <div class="card-body text-right">
              15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
            </div> -->

        </div>

    </div>
</div>