@model LibraryProjectWebSite.Models.LibraryViewModel

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div style="padding-top: 8rem;" class="page-section container page__container">
    <div class="col-lg-10 p-0 mx-auto">
        <div class="row">
            <div style="margin-left: 215px;" class="col-md-6 mb-24pt mb-md-0">
                @using (Html.BeginForm("UserRegister", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="form-label"
                               for="name">Your first name:</label>
                        <input id="name"
                               name="libraryViewModel.User.Name"
                               type="text"
                               required
                               class="form-control"
                               placeholder="Your first name ...">
                    </div>
                    <div class="form-group">
                        <label class="form-label"
                               for="surname">Your last name:</label>
                        <input id="surname"
                               name="libraryViewModel.User.Surname"
                               type="text"
                               required
                               class="form-control"
                               placeholder="Your last name ...">
                    </div>
                    <div class="form-group">
                        <label class="form-label"
                               for="nickname">Nickname:</label>
                        <input id="nickname"
                               name="libraryViewModel.User.Nickname"
                               type="text"
                               required
                               class="form-control"
                               placeholder="Your Nick Name ...">
                    </div>
                    <div class="form-group">
                        <label class="form-label"
                               for="email">Your email:</label>
                        <input id="email"
                               type="email"
                               required
                               name="libraryViewModel.User.Email"
                               class="form-control"
                               placeholder="Your email address ...">
                    </div>
                    <div class="form-group mb-24pt">
                        <label class="form-label"
                               for="password">Password:</label>
                        <input id="password"
                               name="libraryViewModel.User.Password"
                               type="password"
                               required
                               class="form-control"
                               placeholder="Your password ...">
                    </div>

                    <div class="form-group">
                        <label class="form-label"
                               for="dateofbirth">Date of birth:</label><br />
                        <input style="width:100%" type="date"
                               id="dateofbirth"
                               required
                               name="libraryViewModel.User.DateOfBirth"
                               value=@DateTime.Today.ToString("dd/MM/yyyy")>
                    </div>
                    <div class="form-group">
                        <label class="form-label"
                               for="phonenumber">Phone Number:</label>
                        <input id="phonenumber"
                               name="libraryViewModel.User.PhoneNumber"
                               type="number"
                               required
                               maxlength="10"
                               class="form-control"
                               placeholder="Your phone number ...">
                    </div>
                    <button type="submit" style="margin-left: 95px!important;" class="btn btn-primary">Create account</button>
                }
            </div>




        </div>
    </div>
</div>
<div class="page-separator justify-content-center m-0">
    <div class="page-separator__text">or sign as officer</div>
</div>
<div class="page-section text-center">
    <div style="margin-top: -85px;" class="container page__container">
        <a href="https://localhost:44361/Home/OfficerRegister"
           class="btn btn-secondary btn-block-xs">OFFICER SIGN UP</a>
    </div>
</div>
@if (Model.alertMessage != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@Model.alertMessage");
            };
    </script>
}